<launch>

<param name="use_sim_time" value="false" />

<node name="republish" type="republish" pkg="image_transport" output="screen" args="compressedDepth in:=/camera/depth/image
 raw out:=/camera/depth/image"/>

<node name="republish_rect" type="republish" pkg="image_transport" output="screen" args="compressedDepth in:=/camera/depth/image_rect
 raw out:=/camera/depth/image_rect" />

 <node name="republish_registered_rect" type="republish" pkg="image_transport" output="screen" args="compressedDepth in:=/camera/depth_registered/sw_registered/image_rect
  raw out:=/camera/depth_registered/sw_registered/image_rect" />




</launch>